<html lang="en">

<head>
  <link rel="icon" href="/images/weather.png">
  <link rel="stylesheet" href="/css/styles.css" />
  <title>About</title>
</head>

<body>

  <div class="main-content">

      <header>
        <div class="head-section">
          <h1>About</h1>
          <nav>
            <a href="/">Weather</a>
            <a href="/about">About</a>
          </nav>
        </div>
      </header>

      <section class="backend">
    <div>
    <p>This site is created by Prince Sharma. </p>
    <p> It fetches geocoordinates from mapbox.com and fetches data from openWeather.in by sending geocoordinates there.</p>
    </div>
    <img class="portrait" src="images/img1.jpg" alt="">

  <div class="text">
  <p>You can also visit my chat app here.</p>
  <a href="https://soul-chat-application.herokuapp.com/" target="_blank" class="chat-app">CHAT-APP</a>

  </div>
  </section>
  </div>


</body>

</html>