<html lang="en">

  <head>
    <link rel="icon" href="/images/weather.png" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <title>Weather</title>
  </head>

  <body>
    <div class="main-content">
      <header>
        <div class="head-section">
          <h1>Weather</h1>
          <nav>
            <a href="/">Weather</a>
            <a href="/about">About</a>
          </nav>
        </div>
      </header>

      <section class="backend">
        <div class="text">
        <img src="/images/sun.png" alt="cloud and sun">
        <p>Enter the location below</p>
        <img src="/images/sun.png" alt="cloud and sun">
        </div>

        <form action="">
          <input type="text" placeholder="Location" />
          <button>Search</button>
        </form>

      <div>
        <p id="message-1"></p>
        <p id="message-2"></p>
      </div>
      </section>
    </div>

    <footer>
      <p>Created by {{name}}</p>
    </footer>

    <script src="/js/app.js"></script>
  </body>

</html>